@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* { /* RESERTAR AS CONFIGURAÇÕES DO NAVEGADOR */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* CONFIGURAÇÃO DO BODY (CORPO DA PÁGINA) */
    height: 100vh;
    font-family: "Source Sans Pro";
}

.cadastro {
    display: flex;
}

.lado-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.typing-animation { /*Efeito de escrever  como se estivesse digitando*/
    animation:  typing 4s steps(40) 1s normal;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 18em;
    }
}

.line{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 45vh;
    margin-left: 15vw;
    white-space: nowrap;
    overflow: hidden;
    color: hsla(0, 0%, 99%, 0.911);
}

video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

h1 { /* CONFIGURAÇÃO DO TITULO */
    color: rgb(75, 75, 75);
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

form { /* CONFIGURAÇÃO DA DIV FORM */
    background-color: white;
    padding: 10px;
    max-width: 600px;
    margin: 60px 10px 60px 10px;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px rgb(75, 63, 63);
    position: absolute;
    right: 10px;
}

label { /* CONFIGURAÇÃO DA LABEL */
    font-size: 1rem;
    line-height: 1.5rem;
    flex-basis: 80px;
    padding: 5px;
}

.name-form { /* CONFIGURAÇÃO DA DIV NOME */
    display: grid;
    grid-template-columns: 0.3fr 2fr;
}

.document-form {
    display: grid;
    grid-template-columns: 0.65fr 2fr 0.4fr 2fr;
}

.sexo-form {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    width: 50%;
}

.cep-form {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    width: 50%;
}

.address-form {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
}

.address2-form {
    display: grid;
    grid-template-columns: 0.75fr 2fr 0.4fr 2fr;
}

.address3-form {
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.5fr 1.8fr 0.4fr 2fr;
}

.phone-form {
    display: grid;
    grid-template-columns: 0.70fr 2fr 0.4fr 2fr;
    text-align: center;
    padding-bottom: 10px;
}

input[type='text'],
input[type='email'],
input[type='tel'] { /* CONFIGURAÇÃO DOS INPUT */
    width: 100%;
    padding: 5px;
    outline: none;
    background: none;
    color: gray;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 2rem;
    border-radius: 0.5em;
    transition: color 0.3s ease-in-out;
}

select {
    width: 100%;
    border:rgb(75, 75, 75);
    color: gray;
    padding: 5px;
    outline: none;
    background: none;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 2rem;
    border-radius: 0.5em;
}

.btn { /* CONFIGURAÇÕES DOS BOTOES */
    background-color: #f28500;
    color: white;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    width: 20%;
    margin: 1rem;
}

.btn-box {
    display: flex;
    justify-content:center;
    align-items: center;
}

::placeholder{ /* CONFIGURAÇÃO DOS PLACEHOLDER */
    color: white;
}

input[type='text']:hover,
input[type='email']:hover,
select:hover,
input[type='tel']:hover{ /* CONFIGURAÇÃO DOS INPUTS QUANDO PASSARMOS O CURSOR */
    background-color: #f28500;
    border-radius: 0.5em;
    color: white;
}

button.btn:hover{ /* CONFIGURAÇÃO DOS BUTTON QUANDO PASSARMOS O CURSOR */
    background-color: white;
    color: #f28500;
    font-weight: bold;
}

footer {
    background-color: hsl(0, 0%, 50%);
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

input[type='checkbox'] {
    border-radius: 8px;
    background-color: #f28500;
    cursor: pointer;
}

input[type='checkbox']:checked {
    border-radius: 8px;
    color: #f28500;
    cursor: pointer;
}
